# Nivel de detalle maximo a mostrar en logs. Compatible con log_level_from_string().
LOG_LEVEL=INFO

# Algoritmo de planificacion principal. Valores posibles: FIFO, RR, CMN.
PLANIFICATION_ALGORITHM=FIFO

# Lista de algoritmos por cola cuando PLANIFICATION_ALGORITHM=CMN.
QUEUES_ALGORITHMS=[FIFO,RR]

# Tiempo en milisegundos antes de finalizar el quantum de CPU (solo para RR).
RR_QUANTUM=100

# Habilita desalojo entre colas. Valores posibles: TRUE o FALSE.
QUEUE_PREEMPTION=FALSE

# Tiempo en milisegundos antes de suspender un proceso en IO.
SUSPENSION_TIMEOUT=1000

# IP de escucha del Kernel Scheduler
LISTEN_IP=0.0.0.0

# Puerto de escucha del Kernel Scheduler
LISTEN_PORT=8000

# IP de la Memoria
IP_MEMORY=127.0.0.1

# Puerto de la Memoria
PORT_MEMORY=8002
