# Nivel de detalle maximo a mostrar en logs. Compatible con log_level_from_string().
LOG_LEVEL=INFO

# Tiempo en milisegundos antes de responder una lectura o escritura en memoria.
MEMORY_DELAY=50

LISTEN_IP=127.0.0.1
LISTEN_PORT=8004
IP_KERNEL_MEMORY=127.0.0.1
PORT_KERNEL_MEMORY=8002
