# Nivel de detalle maximo a mostrar en logs. Compatible con log_level_from_string().
LOG_LEVEL=INFO

# Path al archivo de SWAP.
SWAP_FILE_PATH=./swap.bin

# Tamano en bytes del archivo de SWAP.
SWAP_FILE_SIZE=1048576

# Tamano en bytes de cada bloque dentro del archivo de SWAP.
BLOCK_SIZE=4096

IP_KERNEL_MEMORY=127.0.0.1
PORT_KERNEL_MEMORY=8002
