# Nivel de detalle maximo a mostrar en logs. Compatible con log_level_from_string().
LOG_LEVEL=INFO

IP_KERNEL_SCHEDULER=127.0.0.1
PORT_KERNEL_SCHEDULER=8000
IP_KERNEL_MEMORY=127.0.0.1
PORT_KERNEL_MEMORY=8002
